<h2> РК2 переписывание </h2>
<h2>Чепкасов Артем ИУ6-35Б </h2>
<h2>Билет 24:Дан массив чисел arr_q. Найти минимальный элемент массива и поместить его на место последнего отрицательного элемента, кратного 3.</h2>
<h2>Элементы вводить через запятаю</h2>
<%= form_tag("/rk2_perep/view", method: :get) do %>
  <div class="field">
    <%= text_field_tag :new_elements, "-200,2,3,4,-3,11,10,3", placeholder: 'Введите новые элементы, разделенные запятой' %>
  </div>
  <%= submit_tag 'Добавить элементы в массив' %>
<% end %>
